html, body, #root, .App, #home-page {
  height: 100%;
  margin: 0
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skillIcon {
  height: 50px;
  width: 75px;
}

#skills {
  display: flex;
  margin-right: 5%;
}

#NavBar-page {
  display: flex;
  padding-right: 2%;
}

.navBarLinks {
  margin-right: 3%;
  text-decoration: none;
  color: #61dafb;
}

#music {
  display: flex;
  flex-wrap: wrap;
}

.musicVideo {
  padding: 5%;
}

#navBarName {
  text-decoration: none;
  color: white;
}

.projectPic {
  width: 30%;
}

.Project {
  padding-left: 25%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2%;
  padding-top: 2%;
}

.projectInfo {
  padding-left: 2%;
  width: 50%;
  text-align: left;
}

#navBar {
  padding-bottom: 2%;
}

.projectTitle {
  color: #61dafb; 
}

.projectGit {
  color: #61dafb;
  padding-right: 5%;
}

.projectDeployed {
  color: #61dafb;
}

hr {
  padding-left: 25%;
  text-align: left;
  width: 50%;
}